@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;700&family=Orbitron:wght@400..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#calculator {
    background: rgb(131, 131, 134);
    border-radius: 5px;
    padding: 10px;
    height: 500px;
}
#display {
    background: rgb(96, 196, 96);
    border: 2px solid rgb(26, 94, 26);
    padding: 10px;
    height: 20%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#buttons {
    display: flex;
    height: 80%;
}
.numbers {
    flex-basis: calc(80%);
    display: flex;
    flex-flow: wrap;
}
.numbers .op-numbers {
    background: rgb(50, 40, 200);
}
.numbers > button {
    background: rgb(20, 200, 170);
    color: white;
    flex-basis: calc(100% / 3);
    font-weight: 800;
}
.numbers > button:hover {
    opacity: .8;
}
.numbers > .zero-button {
    flex-basis: calc(100% / 1.5);
}
.operators {
    flex-basis: calc(20%);
    display: flex;
    flex-flow: nowrap column;
}
.operators > button {
    background: rgb(240, 167, 9);
    border-radius: 5px;
    color: white;
    font-weight: 800;
    flex-basis: calc(100%);
}
.operators > button:hover {
    opacity: .8;
}

